.navbar {
    position: fixed;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: 90%;
    background:transparent;
    backdrop-filter: blur(10px);
    border-radius:10px;
    padding: 0.4rem 1.2rem;
    z-index: 1000;
    overflow: visible;
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.554);
}

.navbar-brand {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0) !important;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    font-size: 0.85rem;
    margin:0 0.8rem;
    padding: 0.3rem 0 !important;
}

.user-avatar {
    width:28px;
    height:28px;
    border:1.5px solid rgba(255,255,255,0.3);
    margin-left:0.8rem;
}

.dropdown-menu {
    border-radius:12px;
    margin-top:0.8rem;
    background:rgba(255,255,255,0.95);
}

.dropdown-item {
    font-size: 0.85rem;
    color: var(--font-color) !important;
    padding: 0.6rem 1rem;
}

.dropdown-item:hover {
    background: rgba(51, 142, 211, 0.1);
    color: var(--primary-color) !important;
}

body {
    padding-top:6rem;
}

/* Ancho de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 9px; 
}

/* Color de fondo del track (pista) de la barra */
::-webkit-scrollbar-track {
    background: wheat;
}

/* Color de la barra en sí (thumb) */
::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 2px;
}

/* Cambiar el color cuando el usuario pasa el mouse */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
}
 /* color: var(--primary-color); */
