<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        <i class="fas fa-user-injured me-1"></i>Pacientes
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'mi_detalle_paciente' %}">
            <i class="fas fa-id-card me-2"></i>Detalles
        </a></li>
        <li><a class="dropdown-item" href="{% url 'editar_paciente' %}">
            <i class="fas fa-edit me-2"></i>Editar Detalles
        </a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        <i class="fas fa-pills me-1"></i>Medicaciones
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'listar_medicacion' %}">
            <i class="fas fa-list me-2"></i>Listar Medicamentos
        </a></li>
        <li><a class="dropdown-item" href="{% url 'crear_medicacion' %}">
            <i class="fas fa-plus-circle me-2"></i>Nuevo Medicamento
        </a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        <i class="fas fa-notes-medical me-1"></i> Mediciones
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{% url 'lista_mediciones' %}">
                <i class="fas fa-clipboard-list me-2"></i> Listar Mediciones
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'registrar_medicion' %}">
                <i class="fas fa-plus-circle me-2"></i> Nueva Medición
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'grafica_mediciones' %}">
                <i class="fas fa-chart-line me-2"></i> Gráfica de Mediciones
            </a>
        </li>
    </ul>
</li>