<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        <i class="fas fa-user-circle me-1"></i>Acceso
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="/crear_seccion">
            <i class="fas fa-user-plus me-2"></i>Registrarse
        </a></li>
        <li><a class="dropdown-item" href="/iniciar_seccion">
            <i class="fas fa-sign-in-alt me-2"></i>Iniciar Sesión
        </a></li>
    </ul>
</li>